.conteiner {
  display: flex;
  gap: 10px;
  align-items: center;
}

.button {
  padding: 5px 12px;
  background-color: blue;
  color: white;
  border: 1ps solid blue;
  border-radius: 7px;
  cursor: pointer;
}

.button:disabled {
  background-color: rgb(175, 171, 171);
  border: 1p x solid rgb(175, 171, 171);
  cursor: not-allowed;
}
